  body { font-family: sans-serif; }
    table { border-collapse: collapse; }
  td {
    width: 23px;
    height: 23px;
    border: 1px solid #aaa;
    text-align: center;
    cursor: pointer;
  }
  .selected {
    outline: 4px solid gray;
    outline-offset: -1px;
  }
.action-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.next-action {
    color: #012073 !important;
}
    .sea { background-color: #aaf; }
    .plain { background-color: #efe; }
    .waste { background-color: #ddd; }
    .forest { background-color: #4a9; }
    .farm { background-color: #efe; }
    .house { background-color: #efe; }
    .factory { background-color: #efe; }
    .gun { background-color: #4a9; }
    .port { background-color: #aaf; }
    .defenseFacility { background-color: #f9d; }
    .enhancedFarm { background-color: #efe; }
    .enhancedFactory { background-color: #efe; }
    .Monument { background-color: #efe; }
    .warship { background-color: #aaf; }
    .warship-dispatched { background-color: #aaf; color: #fff;}
    .warship-wreckage { background-color: #aaf; color: #fff; }
    .oilRig { background-color: #aaf; }
  .selected {
    border: 2px solid gray !important;
  }
  .log-red {
    color: red;
  }
  .log-cyan {
    color: blue;
  }
  #warshipBuildInputs {
      display: none;
      margin-top: 1em;
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #f9f9f9;
  }
  #warshipBuildInputs label {
      display: inline-block;
      width: 100px;
      margin-bottom: 5px;
  }
  #warshipBuildInputs input[type="text"],
  #warshipBuildInputs input[type="number"] {
      width: 150px;
      margin-bottom: 5px;
  }
  .warship-name-cap-2 {
    color: green;
  }
  .warship-name-cap-3 {
    color: blue;
  }
  .warship-name-cap-4 {
    color: purple;
  }
  .warship-name-cap-5 {
    color: red;
  }
 .warship-sp {
    color: orange;
  }
